{% if post.collection == 'publications' %}
  <div class="{{ include.type | default: "list" }}__item">
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <h2 class="archive__item-title" itemprop="headline">{{ post.title }}</h2>
      <p>Published in <i>{{ post.venue }}</i>, {{ post.year }}</p>
      {% if post.authors %}
        <p>{{ post.authors }}</p>
      {% endif %}
      {% if post.code %}
        <p>GitHub code repository: {{ post.code }}</p>
      {% endif %}
    </article>
  </div>
{% endif %}
